.close-tabs-button {
    position: sticky;
    top: 0;
}

.tab-list {
    list-style: none;
    padding: 0;
    margin: 4px 0px 4px 0px; 
}

.tab-label {
    display: flex;
    align-items: center;
    padding: 5px;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
}

.tab-list-item {
    display: flex;
    align-items: center;
    min-height: 25px;
    margin: 3px 0px 3px 0px;
    border-top: 1px dashed;
}

.tab-fav-icon {
    max-width: 16px;
    max-height: 16px;
}